//COLORS
$color-primary: #333333;
$color-white: #fff;
$color-black: #000;
$color-orangered: #ff3838;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #1a1a1a;
$color-grey-light-4: #0d0d0d;

//SOCIAL ICONS
$color-twitter: #55acee;
$color-fb: #3b5998;
$color-in: #007bb5;

//GRADIENTS
//titanium
$color-linear-gradient1: #283048;
$color-linear-gradient2: #859398;

//endless river
$color-linear-gradient3: #43cea2;
$color-linear-gradient4: #185a9d;

//blue skies
$color-linear-gradient5: #56ccf2;
$color-linear-gradient6: #2f80ed;

//dusk
$color-linear-gradient7: #ffd89b;
$color-linear-gradient8: #19547b;

//crystal clear
$color-linear-gradient9: #159957;
$color-linear-gradient10: #155799;

//mild
$color-linear-gradient11: #67b26f;
$color-linear-gradient12: #4ca2cd;

//emerald water
$color-linear-gradient13: #348f50;
$color-linear-gradient14: #56b4d3;

//sel
$color-linear-gradient15: #00467f;
$color-linear-gradient16: #a5cc82;

//aqua splash
$color-linear-gradient17: #13547a;
$color-linear-gradient18: #80d0c7;

//evening night
$color-linear-gradient19: #005aa7;
$color-linear-gradient20: #fffde4;

//mantle
$color-linear-gradient21: #24c6dc;
$color-linear-gradient22: #514a9d;

//horizon
$color-linear-gradient23: #003973;
$color-linear-gradient24: #e5e5be;

//FONT
$default-font-size: 1.6rem;
$button-font-size: 1rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
