body {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    line-height: 1.7;
    color: $color-primary;
}

.heading-primary {
    font-weight: 700;
    //font-family: 'Baloo', cursive !important;
    //font-family: 'Playfair Display SC', serif !important;
    //font-family: 'Holtwood One SC', serif !important;
    font-family: 'Vollkorn SC', serif !important;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 2rem;

    @include respond(phone) {
        color: $color-white;
        font-family: 'Lato', sans-serif !important;
        font-weight: 300;
        margin-top: 15rem;
        margin-bottom: 4rem;
    }

    &--main {
        display: block;
        font-size: 7rem;
        letter-spacing: 4rem;
        animation: moveInLeft 5s ease-out;
        text-align: center;
        //margin-bottom: -2rem;
        margin-bottom: 1rem;
        //letter-spacing: 2rem;
        color: $color-orangered !important;

        @include respond(phone) {
            animation: none;
            //font-size: 6rem;
            //margin-bottom: 1rem;
            letter-spacing: 2rem;
        }

        @include respond(small-phone) {
            animation: none;
            font-size: 8rem;
        }

        @include respond(tab-port) {
            animation: none;
        }

        @include respond(tab-land) {
            animation: none;
        }
    }

    &--sub {
        display: block;
        font-size: 3rem;
        letter-spacing: 1rem;
        animation: moveInRight 5s ease-out;
        //margin-bottom: 1rem;
        font-family: 'Bungee Shade', cursive !important;
        //font-family: 'Bungee Outline', cursive !important;
        //font-weight: bold;
        text-align: center;

        @include respond(phone) {
            animation: none;
            font-family: 'Lato', sans-serif !important;
            font-size: 3rem;
            margin-bottom: 2rem;
            letter-spacing: .5rem;
        }
        
        @include respond(small-phone) {
            font-family: 'Lato', sans-serif !important;
            animation: none;
            font-size: 3rem;
        }

        @include respond(tab-port) {
            animation: none;
        }

        @include respond(tab-land) {
            animation: none;
        }
    }
}

.popup__heading {
    font-size: 4rem;
    letter-spacing: .5rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    -webkit-text-orientation: upright; 
    position: absolute;
    top: 1rem;
    left: -.5rem;
    text-transform: uppercase;
    font-family: 'Bungee Shade', cursive !important;
    //font-family: 'Bungee Outline', cursive !important;


    @include respond(small-phone) {
        writing-mode: unset;
        font-size: 3rem;
        //margin-top: 5rem;
        //margin: 0 auto;
        position: fixed;
        font-size: 3rem !important;
    }

    @include respond(phone) {
        writing-mode: unset;
        //font-family: 'Bungee Outline', cursive !important;
        //font-family: 'Bungee Shade', cursive !important;
        font-family: 'Lato', sans-serif !important;
        //font-weight: 100, !important;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 4rem;
        font-size: 3rem;
    }

    @include respond(small-phone-land) {
        font-size: 3rem;
    }


    @include respond(big-desktop) {
        font-size: 3.5rem;
    }

    @include respond(tab-port) {
        font-size: 3rem;
    }
}

.desktop__footer {
    font-family: 'Comfortaa', cursive !important;
}
